*{
    margin: 0px;
    padding: 0px;
}

body{
    /* background-image: url("../Images/fondo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
    background-color: #ffffcc;
}

@font-face{
    font-family: Pocket Monk;
    src: url("../Fonts/Pocket Monk.otf");
}

.pokemonCards{
    text-align: left;
    padding: 25px;
}

.pokemonCard{
    margin-top: 40px !important;
    text-align: center;
}

.pokemonCard h2{
    font-family: Pocket Monk !important;
    color:  rgb(89, 48, 150);
}

.pokemonCard h2::first-letter{
    font-size: 1.5em;
}

h2::after{
    content: '';
	display: block;
	width: 150px;
	height: 2px;
	background-color: rgb(89, 48, 150);
	margin: auto;
    margin-top: 5px;
    margin-bottom: 7px;
}

#pokemonInfo{
    padding: 10px;
    text-align: center;
    background-image: url("../Images/reverse.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.cardInfo *{
    color: white;
    text-shadow:
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    font-size: 1.5em;
}

#pokemonInfo h2{
    font-family: Pocket Monk !important;
    color: white;
}

#pokemonInfo h2::first-letter{
    font-size: 1.5em;
}

.ui-widget-header {
    font-size: 1.5em;
}

#audio{
    display: none
}